*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    background-color: black;
}

html,
body
{
    /* overflow-x: hidden; */
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color:#17171700; */
    /* z-index: -1; */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    pointer-events: none;
    width: 100%;
    z-index: -1;
}

.main-container
{
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar
{
    position: fixed;
    top: 1%;
    left: 0;
    width: 100%;
    height: clamp(40px,5vh,200px);
    z-index: 0;
    padding: 0 2.5vmin 0 1.5vmin;
}

.scroll-down .navbar
{
    transform: translate3d(0, -130%, 0);
    /* width: fit-content; */
    transition: transform 0.5s ease;
}
.scroll-up .navbar
{
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease;
}

.nav-container
{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo
{
    width: 5vw;
    height: 100%;
    padding: 0.5vh;
}

.logo > img 
{
    width: 100%;
    height: 100%;
}


section
{
    width: 100%;
    height: 100vh;
}

.hero-wrapper
{
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(0px); */
}

.content-frame
{ 
    width: 100%;
    height: 100vh;

}

.bar
{
    background-color:#171717 ;
    width: 100%;
    height: 3vmin;
}

.mask-container
{
    width: 100%;
    height: 100%;
    display: flex;
}

.left 
{
    width: 40vw;
}

.right 
{
    width: 10vw;
}

.mask-bar
{
    background-color:#171717 ;
    height: 100%;
}
.frame-svg 
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.frame-svg-mob
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.frame-svg-tab
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
@media (max-width: 1250px) {
    .navbar
    {
        padding: 0 1.5vmin;
        height: clamp(40px,8vh,200px);
    }
    .logo
{
    width: 10vmax;
    height: 100%;
    padding: 1.5vmin;
}
    .mask-container
{
    width: 100%;
    height: 55vmax;
    display: flex;
}
    .top-bar
    {
        height: 5vh;
    }
    .bottom-bar
    {
        height: 100%;
    }
    .bar
{
    background-color:#171717 ;
    width: 100%;
    /* height: 0vh; */
}
    .left 
{
    width: 15vmax;
}

.right 
{
    width: 15vmax;
}

.mask-bar
{
    background-color:#171717 ;
    height: 100%;
}
    .frame-svg 
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.frame-svg-tab
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
  }

@media (max-width: 768px) {
    .mask-container
    {
        width: 100%;
        height: 70vmin;
        display: flex;
    }
    .top-bar
    {
        height: 5vh;
    }
    .bottom-bar
    {
        height: 100%;
    }
    .bar
    {
        background-color:#171717 ;
        width: 100%;
        /* height: 0vmin; */
    }
        .left 
    {
        width: 15vw;
    }
    
    .right 
    {
        width: 15vw;
    }
    
    .mask-bar
    {
        background-color:#171717 ;
        height: 100%;
    }
    .frame-svg 
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.frame-svg-tab
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.frame-svg-mob
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
  }
@media (max-width: 450px) {
    .mask-container
    {
        width: 100%;
        height: 70vmin;
        display: flex;
    }
    .top-bar
    {
        height: 5vh;
    }
    .bottom-bar
    {
        height: 100%;
    }
    .bar
    {
        background-color:#171717 ;
        width: 100%;
        /* height: 0vmin; */
    }
    .left 
    {
        width: 15vw;
    }
    
    .right 
    {
        width: 15vw;
    }
    
    .mask-bar
    {
        background-color:#171717 ;
        height: 100%;
    }
    .frame-svg 
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.frame-svg-tab
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.frame-svg-mob
{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
  }

