*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    pointer-events: none;

}

.main-container
{
    width: 100%;
    height: 100%;
}

section
{
    width: 100%;
    height: 100vh;
}

.hero-wrapper
{
    width: 100%;
    height: 100%;
}

.content-frame
{
    width: 100%;
    height: 100%;
}

